<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RT Soluciones</title>
    <link rel="shortcut icon" href="" style="border-radius: 50px;"/>
    <meta name="RT Soluciones" content="Marketing y tecnología">
    <meta name="description" content="Soluciones tecnológicas al alcance de tus manos.">
    <meta name="robots" content="index,follow">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estiloEvento.css') }}">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>

<body>
    <header class="contenedorTitulo">
        <h1 class="titulo" title="Marketing digital">¿Quieres aprender a crear y ejecutar estrategias de <b><i>marketing</i></b> digital efectivas? </h1>
        <h2 class="subtitulo" title="¿Quieres aumentar tus ventas y mejorar la visibilidad de tu marca?">¿Quieres aumentar tus ventas y mejorar la visibilidad de tu marca?</h2>
        <p class="parrafoPrincipal"><b>Si es así</b>, el curso de marketing digital es el perfecto para ti. En este curso aprenderás todo lo que necesitas saber para triunfar en el mundo digital.</p>
        <img src="{{ url_for('static', filename='img/Marketing_digital9.webp') }}" alt="Marketing digital">
      </header>

    <main>
      <section class="intro">
        <h2 class="tituloIntro">¡¡¡ESTA ES TU OPORTUNIDAD!!!</h2>
        <a href="{{ url_for('index') }}" class=btnIntro target="BLANK"><button type="submit" value="¡Inscríbete ahora y comienza a Emprender!">
          ¡Inscríbete ahora y comienza a Emprender!
        </button></a>

        <section class="contenedorTercera">
            <h2 class="tituloTercera">¿Querés aumentar tus ventas?</h2>
            <p class="parrafoTercera">Ponemos a tu alcance todas las herramientas necesarias ya sea para crear tu
              negocio digital desde cero o bien si ya tienes uno, para optimizar tus perfiles
              digitales y aumentar tus ventas.</p>
          </section>


      </section>
      <section class="aprender">
        <img class="imgAprender" src="{{ url_for('static', filename='img/Embudo.webp') }}" alt="Generar Ventas">
        <div class="contenedorAprender">
            <h2 class="tituloAprender">Prepartate para aprender a:</h2>
            <ul class="listaAprender">
              <li>Crear y lanzar tu negocio digital desde cero.</li>
              <li>Aumentar tu productividad y alcance digital.</li>
              <li>Preparar guines de ventas que atrapen</li>
              <li>Romper objeciones y cerrar ventas efectivamente.</li>
            </ul>
        </div>
      </section>


      <section class="contenedorBeneficios">
        <h2 class="beneficios">Beneficios por acceder a este entrenamiento:</h2>
        <ul class="listaBeneficios">
          <li>Crear un negocio digital desde cero</li>
          <li>Aumentan las ventas</li>
          <li>Mejoran la eficiencia de las ventas</li>
          <li>Generan leads calificados</li>
          <li>Negociar como un experto</li>
          <li>Mejoran la satisfacción del cliente</li>
        </ul>
      </section>

      <section class="preguntasFrecuentes">
        <h2 class="tituloPF">Preguntas frecuentes:</h2>
        <ul class="listaPreguntas">
          <li>
            <h3>¿Cuánto tiempo dura el taller?</h3>
            <p>El taller tendra una duracion de 4 dias, en sesiones de 2 horas cada una y comenzara a las 20:00 horas ARGENTINA</p>
          </li>
          <li>
            <h3>¿Cuál es el formato del curso?</h3>
            <p>El curso es 100% en línea via ZOOM y se podra acceder a todo el material de manera remota.</p>
          </li>
          <li>
            <h3>¿Qué necesito para tomar el curso?</h3>
            <p>Para tomar el curso, necesitarás un ordenador con conexión a Internet.</p>
          </li>
          <li>
            <h3>¿Hay algún requisito previo para tomar el curso?</h3>
            <p>No se requiere ningún requisito previo para tomar el curso.</p>
          </li>
          <li>
            <h3>¿Hay alguna garantía por realizar el taller?</h3>
            <p>Sí, te garantizamos que vas a adquirir conceptos para imprementar de manera inmediata y generar beneficios de manera inmediata.</p>
          </li>
        </ul>
      </section>

      <section class="contenedorLlamado">
        <h2 class="llamado">¿Qué estás esperando? ¡Inscríbete ahora y comienza a aprender!</h2>

        <h2 class="tituloLlamado"> <span class="llamadospan1" style="text-decoration-line: line-through">U$$ 499</span><span class="llamadospan2"><b>    U$$ 0.00</b></span></h2>
        <a href="{{ url_for('index') }}" target="BLANK"><button type="submit" value="INSCRIBASE YA!!" alt="Marketing Digital">
          INSCRIBETE YA!!
        </button></a>
        <h2 class="llamado">¡NOS VEMOS ADENTRO!</h2>
      </section>



      <a class="btnW" href="https://bit.ly/Aprender_Hoy" target="_blank">
        <i id="btnW" class='bx bxl-whatsapp bx-lg' style='color: #ffffff'  ></i>
      </a>

    </main>
    <footer class="footer">
      <p class="declaracionfooter">Este sitio no está afiliado a Facebook ni a ninguna entidad de Facebook.
        Después de salir de Facebook, la responsabilidad no es de ellos, sino de
        nuestro <b>sitio web</b>. Hacemos todo lo posible para indicar y mostrar claramente
        todas las pruebas del producto y utilizar resultados reales. De igual forma
        este producto no garantiza resultados. Cualquier referencia al desempeño de
        esta estrategia no debe interpretarse como garantía de resultados, ademas se
        necesita mucha constancia y dedicación para aplicar las estrategias correctamente.
        Si tiene alguna pregunta, no dude en utilizar el enlace de contacto y
        hablar con nosotros durante el horario comercial de lunes a viernes de 9:00 am.
        a 18:00 pm.</p>
      <p class="copyright">Copyright &copy; 2023 | FULLSTACK OESTE</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <a href="{{ url_for('admin') }}" class="accceso_admin"><p>DEV</p></a>
    </footer>
  </body>
  </html>